.container{
    margin: auto;
    border: solid 1px;
    width: 50%;
    padding: 10px;
}

.tb{
    /* border: solid 10px green; */
    width: 100%;
    height: 300px;
    /* border-spacing: 10px; */
    border-collapse: collapse;
}

.tb tr td {
    border: solid 4px red;
}

.th-b-1{
    background-color: aquamarine;
}

.tr-b-1{
    background-color: blueviolet;
}

.td-b-2{
    background-color: blanchedalmond;
}

.col-3-background{
    background-color: brown;
}