@keyframes anime-1 {
    from {

    }

    to{
        width: 400px;
        margin-top:300px;
    }
}



@keyframes anime-3 {
    from{

    }

    to{
        left:calc(100% - 100px);
    }
}

body{
    margin: 0;
    padding: 0;
}

@keyframes anime-2 {
    0% {
        left: 375px;
        top:575px;
    }

    12.5%{
        left: 375px;
        top:175px;
    }

    25%{
        left: 775px;
        top:575px;
    }

    37.5%{
        left: 775px;
        top:175px;
    }

    50%{
        left: 375px;
        top:175px;
    }

    62.5%{
        left: 575px;
        top:-25px;
    }

    75%{
        left: 775px;
        top:175px;
    }

    87.5%{
        left: 375px;
        top:575px;
    }

    100%{
        left: 775px;
        top:575px;
    }
}

.ball{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border:solid 5px gray;
    border-radius: 50%;
    position: absolute;
    left: 375px;
    top:575px;
    box-sizing: border-box;
    z-index: 999;
    animation: anime-2 800ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* animation: anime-3 1s alternate infinite; */
    /* animation-name: anime-2;
    animation-duration: 3s; */
    /* animation-fill-mode: both; */
    /* animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: ease; */
    /* animation:anime-1 400ms alternate infinite 2s; */
}

.roof{
    width: 0;
    height: 0;
    border: solid 200px white;
    border-bottom: solid 200px yellowgreen;
    margin-left: 400px;
    position: relative;
    top:-200px
}

.base{
    width: 0;
    height: 0;
    border-top: solid 200px gray;
    border-left: solid 200px green;
    border-right: solid 200px red;
    border-bottom: solid 200px blue;
    margin-left: 400px;
    margin-bottom: 200px;
    position: relative;
    top:-200px
}