*{
    box-sizing: border-box;
}

body{
    border:solid 3px red;
    margin: 0px;
    padding: 50px;
}

div{
    border: solid 5px gray;
    min-height: 100px;
}

.box-m-2{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.box-m-3{
    margin-top: -70px;
    background-color: aquamarine;
}

.box-m-4{
    margin: 50px 70px 90px 110px;
}


.container{
    background-color: bisque;
    padding: 30px 50px 70px 90px;
}

.item{
    background-color: cadetblue;
    border: solid yellow;
}

.div-p-1{
    border: solid 3px green;
    height: 50px;
    width: 500px;
    /* margin: auto; */
    box-sizing: border-box;
}

.div-p-2{
    border: solid 30px blue;
    padding: 20px 40px 60px 80px;
    /* width: 320px; */
}

.nav > ul{
    list-style: none;
}

.nav > ul > li {
    border-bottom: solid 2px green;
}

.nav ul ul ul{
    list-style: none;
}