.header{
    width: 80%;
    height: 150px;
    background-color: aqua;
    border: solid 5px red;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}

@media screen and (min-width:800px) {
    body {
        background-color: lightcoral;
    }
}


