form, div{
    border: solid 2px green;
    margin: 20px;
    padding: 10px;
}


.form-input{
    background-color: aqua;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.8em;
    border: 0px;
    outline: 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.form-input:focus{
    background-color: bisque;
    border: 0px;
}

.form-area{
    resize: none;
}

.form-but:hover{
    cursor: pointer;
}

.form-check{
    outline: none;
    cursor: pointer;
}

.form-check:checked{
    background-color: brown;
    accent-color:brown;
    border: solid 5px;
    border: none;
}