div{
    margin: 10px auto;
    border: solid 1px;
    width: 55%;
    min-height: 300px;
}

.bg-2{
    background-color: beige;
    background-image: url(bg.jpg);
    height: 550px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 50% 50%;
    background-position: center top;
}

.bg-3{
    background-image: url(bg1.avif);
    height: 1000px;
    width: 80%;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    /* background-size: contain; */
    background-size: cover;
}

.bg-1{
    background-color: aqua;
}

.menu{
    list-style: none;
}

.menu li {
    border-bottom: solid 1px;
    width: 20%;
}

.menu li a{
    text-decoration: none;
    font-weight: bold;
    background-color: aqua;
    display: block;
    padding: 7px;
}



.menu li a:link{
    background-color: yellowgreen;
}

.menu li a:hover{
    background-color: bisque;
}

.menu li a:active{
    background-color: brown;
}

.menu li:first-child{
    font-style: italic;
}

