.border-s-1{
    height: 70px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: darkmagenta;
    border-bottom: solid darkblue 10px;
}

.border-s-2{
    border:dotted 10px darkslategray;
}

.border-s-3{
    border: solid 4px black;
    height: 80px;
    border-top-right-radius: 200px 40px;
}

body {
    background-color: silver;
}

.bg-yellow{
    background-color: yellow;
}

.textis-daxra-gamuqeba-30{
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.text-i-b-30{

}

.bg-green-text-u{
    background-color: green;
    text-decoration: underline;
}