body{
    height: 4000px;
}


div{
    width: 400px;
    min-height: 100px;
    border: solid 2px;
    box-sizing: border-box;
    background-color: antiquewhite;
}


.p-ex-1{
    background-color: aqua;
    position: absolute;
    width: 450px;
    /* top: 30px; */
    bottom: 40px;
    left: 370px;
}

.p-ex-2{
    position: fixed;
    background-color: blueviolet;
    top:30px;
    right: 40px;
}

.p-ex-3{
    width: 500px;
    background-color: yellowgreen;
}

.p-ex-4{
    background-color: royalblue;
    position: relative;
    top:40px;
    left: 30%;
}

.item{
    width: 40px;
    height: 40px;
    min-height: 40px;
    border: solid red;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.parent{
    position: relative;
}

.p-ex-5{
    width: 100%;
    background-color: brown;
    position: sticky;
    top:80px;
}

.container{
   width: 800px;
   overflow: hidden;
}

.aside, .content{
    background-color: yellow;
    width: 30%;
    min-height: 150px;
}

.aside {
    float: left;
    background-color: blueviolet;
    width: 20%;
}

.content{
    float: right;
    width: 20%;
}

.over-ex-1{
    height: 100px;
    overflow-y: scroll;
}