*{
    box-sizing: border-box;
}

main{
    width: 80%;
    border:solid 3px red;
    padding: 10px;
    margin: auto;
}

.row-2{
    border: solid 1px black;
    min-height: 100px;
    display: flex;
    margin-bottom: 30px;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    flex-flow: row wrap;
}



.row{
    border: solid 1px black;
    min-height: 100px;
    display: flex;
    margin-bottom: 30px;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    flex-flow: row wrap;
}


.row-1{
    border: solid 1px black;
    min-height: 100px;
    display: flex;
    margin-bottom: 30px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 400px;
    align-items: stretch;
    /* gap: 20px 70px; */
    column-gap: 30px;
}

.item{
    border: solid 1px green;
    /* height: 70px; */
    width:120px;
    background-color:lightgrey;
    text-align: center;
    font-size: 2em;
}

.item-2{
    /* height: 100px; */
}

.item-5{
    /* height: 160px; */
}

.item-r-2{
    border: solid 1px green;
    /* width:120px; */
    background-color:lightgrey;
    text-align: center;
    font-size: 2em;
    /* width: 33.33%; */
    flex-grow: 1;
}



