header{
    height: 100px;
    background-color: lightseagreen;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

main{
    width: 90%;
    margin: auto; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin-bottom: 10px;
}

nav ul li a{
    display: block;
    text-decoration: none;
    background-color: lightpink;
    padding: 8px;
}

.container{
    min-height: 300px;
}

.container div{
    min-height: 100px;
    background-color: blueviolet;
    margin-bottom: 10px;
}

aside{
    min-height: 100px;
    background-color: orange;
}

footer{
    height: 50px;
    background-color: lightslategrey;
    width: 90%;
    margin: auto;
    margin-top:10px
}

@media screen and (min-width:600px) {
    main{
      display: flex;
      flex-wrap: wrap;
    }

    nav{
        width: 30%;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .container{
        width: 70%;
        background-color: lightgreen;
        display: flex;
        flex-wrap: wrap;
        /* gap: 10px; */
        justify-content: space-between;
    }

    .container div{
        width: 49.5%;
    }
    
    aside{
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (min-width:768px) {
    main{
        flex-wrap: nowrap;
        gap: 10px;
    }
    
    nav{
        width: 20%;
    }

    .container{
        width: 60%;
    }

    aside{
        width: 20%;
        margin-top: 0;
    }
}

